# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.cache
.deps
src/gen-cpp
src/gen-c_glib
src/scribe_cat
*.xcodeproj
*.xcworkspace
.settings
.project
.cproject
/Build (GNU)
